---
import { getCollection } from "astro:content";
import { sortPostsByDate } from "../lib/date";
import Link from "../components/Link.vue";
import Base from "../layouts/Base.astro";
import Project from "../components/Project.astro";
import PostRow from "../components/PostRow.astro";
import { getProjects } from "../lib/projects";
import { getInitiatives } from "../lib/initiatives";

// const projects = await getProjects(6)
const projects = await getProjects();
const posts = sortPostsByDate(
  await getCollection("blog", ({ data }) => data.isDraft !== true)
).slice(0, 4);

const active_initiatives = await getInitiatives();

const title = "thedropoutfund • home";
---

<Base
  {title}
  description="Website for The Dropout Fund"
  image="https://i.imgur.com/he5ZjGh.jpeg"
>
  <h1 slot="header-content" class="text-neutral-500">thedropoutfund</h1>

  <main class="prose">
    <p>
      <small class="text-neutral-500">do epic shit</small>
      <br />

      hi there, i'm <strong><Link href="https://twitter.com/_0xaryan">aryan</Link></strong>. i'm
      a <strong>college dropout</strong>. i love building software and hardware products. i am <strong>cto</strong
      > at a company. i want to support dropout's like me, so this is just a step in that direction.
    </p>

    <div class="mt-12"></div>
    <h2>initiatives</h2>

    <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
      {active_initiatives.map((project) => <Project {project} />)}
    </div>

    <div class="mt-12"></div>
    <h2>alumni</h2>

    <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
      {projects.map((project) => <Project {project} />)}
    </div>

    <div class="mt-12"></div>
    <h2>Blog</h2>

    <div class="flex flex-col gap-4">
      {posts.map((post) => <PostRow {post} />)}

      <span>
        <Link href="/blog">All posts →</Link>
      </span>
    </div>
  </main>
</Base>
